{% extends 'base.html' %}

{% block header %}
{% block title %}User info{% endblock %}
{% endblock %}

{% block content %}
<section>
  
  {% if g.user['id'] == user_info['id'] %}
  <table>
    <tbody>
      <tr>
        <td>Username</td>
        <td>{{ user_info['username'] }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{user_info['email']}}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{user_info['address']}}</td>
      </tr>
      <tr>
        <td>Dietary info</td>
        <td>{{user_info['dietary_info'] }}</td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <div style="width:50%; float: left;">
  <form action="{{ url_for('user_page.send_info', user_id=user_info['id']) }}" method="post">
    <input class="info" type="submit" value="Send email"
      onclick="return confirm('Click to send yourself a reminder email.');">
  </form>
  </div>
  <div style="width:50%; float:right;">
  <form action="{{ url_for('user_page.update', user_id=user_info['id']) }}" method="post">
    <input class="info" type="submit" value="Edit user info">
  </form>
  </div>
  {% endif %}
  {% if not g.user or not user_info %}
  <form action="{{ url_for('auth.register') }}" method="post">
    <input class="info" type="submit" value="Register">
  </form>
  {% endif %}
</section>
{% endblock %}