<!doctype html>

<head>
  <title>{% block title %}{% endblock %} - Flaskr</title>
  <!--link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'-->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <main>
  <nav>
    <h4>Secret Santa</h4>
    <hr>
      {% if g.user %}
      Username: {{ g.user['username'] }}
      Admin? {{ g.user['isAdmin'] }}
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% if g.user['isAdmin'] == "1" %}
      <a href="{{ url_for('admin_page.index') }}">Admin page</a>
        {% endif %}
        {% else %}
        <div style="width:50%; float: left;">
          <form action="{{ url_for('auth.register') }}" method="get">
            <input class="info" type="submit" value="Register">
          </form>
          </div>
          <div style="width:50%; float:right;">
          <form action="{{ url_for('auth.login') }}" method="get">
            <input class="info" type="submit" value="Log in">
          </form>
          </div>
        {% endif %}
  </nav>
  <hr>
  <section class="content">
    <h4>
      {% block header %}{% endblock %}
    </h4>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
  <section>
    <hr>
  </section>
  </main>
</body>